[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==5.1.2"
colorlog = "==6.5.0"
flask = "==2.0.2"
flask-restx = "==0.5.1"
gunicorn = "==20.1.0"
redis = "==3.5.3"
yajwt = "==0.1.0"

[dev-packages]

[requires]
python_version = "3.8"
